{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'livros/biblioteca.css' %}">
    <title>Minha Biblioteca</title>
    <style>
        body { font-family: sans-serif; margin: 20px; }
        ul { list-style: none; padding: 0; }
        li { margin-bottom: 5px; }
    </style>
</head>
<body>
      <h1>Meus Contatos</h1>
    <a href="{% url 'livros:livros_criar' %}" class="add-link">Cadastrar Novo Livro</a>
    {% if contatos %}
        <ul>
            {% for contato in contatos %}
                <li>
                    <a href="{% url 'livros:livros_detalhe' livros.pk %}">{{ livros.titulo }} - {{livros.autor}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum livro cadastrado ainda. Clique em "Adicionar Novo Livro" para começar!</p>
    {% endif %}
</body>
</html>