{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'livros/biblioteca.css' %}">
    <title>Minha Biblioteca</title>
</head>
<body>
      <h1>Meus Livros</h1>
    <a href="{% url 'livros:livros_criar' %}" class="add-link">Cadastrar Novo Livro</a>
    {% if livros %}
        <ul>
            {% for livros in livros %}
                <li>
                    <a href="{% url 'livros:livros_detalhe' livros.pk %}">{{ livros.titulo }} - {{livros.autor}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum livro cadastrado ainda. Clique em "Adicionar Novo Livro" para começar!</p>
    {% endif %}
</body>
</html>